<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.otaserver.ota_project.device.mapper.DeviceModelMapper">
    <resultMap id="BaseResultMap" type="com.otaserver.ota_project.device.entity.Device">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="projectId" property="projectId" jdbcType="INTEGER"/>
        <result column="clientId" property="clientId" jdbcType="VARCHAR"/>
        <result column="apiKey" property="apiKey" jdbcType="VARCHAR"/>
        <result column="deviceId" property="deviceId" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="dvtype" property="dvtype" jdbcType="VARCHAR"/>
        <result column="isCheck" property="isCheck" jdbcType="INTEGER"/>
    </resultMap>
    <!--获取版本的客户id-->
    <select id="getDeviceClientId" resultMap="BaseResultMap">
        select clientId,projectId from tb_device  GROUP BY clientId
    </select>
    <!--获取机型统计，日活量-->
    <select id="getModelStatisticsByDaysCapacity" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) days,b.clientId,b.projectId,a.version,
        COUNT(DISTINCT(a.deviceId)) count
        FROM(SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>   date(lastLoginTime) ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId}
            </when>
            <otherwise>
                where b.clientId is not null
            </otherwise>
        </choose>
        GROUP BY days;
    </select>
    <!--获取机型统计，新增量-->
    <select id="getModelStatisticsByDaysNewIncrement" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) days,b.clientId,b.projectId,a.version,
        COUNT(DISTINCT(a.deviceId)) count
        FROM(SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>   date(lastLoginTime) ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId} and a.remark = '已激活'
            </when>
            <otherwise>
                where b.clientId is not null and a.remark = '已激活'
            </otherwise>
        </choose>
        GROUP BY days;
    </select>
    <!--获取机型统计，新增量 周-->
    <select id="getModelStatisticsByWeekNewIncrement" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) weeks, b.clientId,b.projectId,a.version,count(*) as count
        FROM ( SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )   <![CDATA[ <= ]]>   date(lastLoginTime) and remark =
        '已激活' ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId} and a.remark = '已激活'
            </when>
            <otherwise>
                where b.clientId is not null and a.remark = '已激活'
            </otherwise>
        </choose>
        GROUP BY weeks
        HAVING weeks IN (
        SELECT DATE_FORMAT((SELECT DATE_ADD(lastLoginTime,INTERVAL - WEEKDAY(lastLoginTime) DAY)),'%Y-%m-%d') AS
        dateFormat
        FROM tb_device_records
        WHERE DATE_SUB(CURDATE(),INTERVAL #{day_count} DAY)  <![CDATA[ <= ]]>  date(lastLoginTime)
        )
    </select>
    <!--获取机型统计，新增量 月-->
    <select id="getModelStatisticsByMonthNewIncrement" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime,'%Y-%m') months,b.clientId,b.projectId,a.version,count(*) count FROM
        (SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>  date(lastLoginTime) and remark =
        '已激活') as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId} and a.remark = '已激活'
            </when>
            <otherwise>
                where b.clientId is not null and a.remark = '已激活'
            </otherwise>
        </choose>
        GROUP BY months
    </select>
    <!--获取机型统计，累计量-->
    <select id="getModelStatisticsByDaysAccumulation" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) days,b.clientId,b.projectId,a.version,
        COUNT(DISTINCT(a.deviceId)) count
        FROM(SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>   date(lastLoginTime) ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId}
            </when>
            <otherwise>
                where b.clientId is not null
            </otherwise>
        </choose>
        GROUP BY days;
    </select>
    <!--获取机型统计，累计量 按周-->
    <select id="getModelStatisticsByWeekAccumulation" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) weeks, b.clientId,b.projectId,a.version,count(*) as count
        FROM ( SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )   <![CDATA[ <= ]]>   date(lastLoginTime) ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId}
            </when>
            <otherwise>
                where b.clientId is not null
            </otherwise>
        </choose>
        GROUP BY weeks
        HAVING weeks IN (
        SELECT DATE_FORMAT((SELECT DATE_ADD(lastLoginTime,INTERVAL - WEEKDAY(lastLoginTime) DAY)),'%Y-%m-%d') AS
        dateFormat
        FROM tb_device_records
        WHERE DATE_SUB(CURDATE(),INTERVAL #{day_count} DAY)  <![CDATA[ <= ]]>  date(lastLoginTime)
        )
    </select>
    <!--获取机型统计，累计量 按月-->
    <select id="getModelStatisticsByMonthAccumulation" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime,'%Y-%m') months,b.clientId,b.projectId,a.version,count(*) count FROM
        (SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>  date(lastLoginTime)) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId}
            </when>
            <otherwise>
                where b.clientId is not null
            </otherwise>
        </choose>
        GROUP BY months
    </select>
    <!--获取机型概括-->
    <select id="getModelSummarize" resultMap="BaseResultMap">
        SELECT b.clientId,b.projectId,COUNT(DISTINCT(a.deviceId)) count
        FROM ( SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>   date(lastLoginTime) ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        <choose>
            <when test="clientId != null and clientId != ''">
                where b.clientId = #{clientId}
            </when>
            <otherwise>
                where b.clientId is not null
            </otherwise>
        </choose>
        GROUP BY b.projectId;
    </select>
    <select id="getModelTotal" resultType="java.lang.Integer">
        SELECT SUM(num) as count FROM
        (select COUNT(DISTINCT(deviceId)) as num,efId from tb_device_records
        where version like #{version} GROUP BY version) as a
		INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
		where b.clientId = #{clientId} and b.projectId = #{projectId}
    </select>
    <!--获取机型详情-->
    <select id="getModelDetailsByDaysCapacity" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) days,a.version,b.clientId,b.projectId,
        COUNT(DISTINCT(a.deviceId)) count
        FROM( SELECT *  FROM tb_device_records
        WHERE DATE_SUB( CURDATE(), INTERVAL #{day_count} DAY ) <![CDATA[ <= ]]> date(lastLoginTime)) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
         where b.clientId = #{clientId} and b.projectId = #{projectId}
        GROUP BY days;
    </select>
    <!--获取机型详情，新增量-->
    <select id="getModelDetailsByDaysNewIncrement" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) days,a.version,b.clientId,b.projectId,
        COUNT(DISTINCT(a.deviceId)) count
        FROM( SELECT *  FROM tb_device_records
        WHERE DATE_SUB( CURDATE(), INTERVAL #{day_count} DAY ) <![CDATA[ <= ]]> date(lastLoginTime)) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        where b.clientId = #{clientId} and b.projectId = #{projectId} and a.remark = '已激活'
        GROUP BY days;
    </select>
    <!--获取机型详情，新增量 按周-->
    <select id="getModelDetailsByWeekNewIncrement" resultMap="BaseResultMap">
        SELECT  DATE_FORMAT(lastLoginTime, '%Y-%m-%d' ) weeks, b.clientId,b.projectId,a.version,count(*) as count
        FROM	( SELECT * FROM tb_device_records
        WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )   <![CDATA[ <= ]]>   date(lastLoginTime) and remark = '已激活' ) as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId where b.clientId = #{clientId} and b.projectId = #{projectId} and a.remark = '已激活'
        GROUP BY weeks HAVING weeks IN (
        SELECT DATE_FORMAT((SELECT DATE_ADD(lastLoginTime,INTERVAL - WEEKDAY(lastLoginTime) DAY)),'%Y-%m-%d') AS dateFormat
        FROM tb_device_records
        WHERE DATE_SUB(CURDATE(),INTERVAL #{day_count} DAY)  <![CDATA[ <= ]]>  date(lastLoginTime)
        )
    </select>
    <!--获取机型详情，新增量 按月-->
    <select id="getModelDetailsByMonthNewIncrement" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(lastLoginTime,'%Y-%m') months,b.clientId,b.projectId,a.version,count(*) count FROM
        (SELECT * FROM tb_device_records WHERE DATE_SUB( CURDATE( ), INTERVAL #{day_count} DAY )  <![CDATA[ <= ]]>  date(lastLoginTime)
         and remark = '已激活') as a
        INNER JOIN tb_device_equipment_filing as b on b.id = a.efId
        where b.clientId = #{clientId} and b.projectId = #{projectId} and a.remark = '已激活'
        GROUP BY months
    </select>
</mapper>